---
import TitleSection from "./TitleSection.astro"
---

<header>
    <h1 class="text-3xl font-bold tracking-wide tex text-center mt-10">
        AMANDA CRUZ ROBALINO
    </h1>
    <TitleSection titulo = "Resumen profesional"/>
    <p>
        Como estudiante de Desarrollo de Aplicaciones Web (DAW, FPII),
        complemento mi formación técnica con una sólida trayectoria como
        contable administrativo, donde he desarrollado una gran capacidad
        analítica, atención al detalle y gestión eficiente de procesos. Mi
        objetivo es seguir creciendo profesionalmente y aportar valor mediante
        la mejora de procesos y la participación en proyectos donde la
        tecnología y la gestión se integren para ofrecer resultados fiables,
        eficientes y alineados con las necesidades de la organización.
    </p>

</header>
